<div class="container">
  <div class="row">
    <section class="col-3">
      <h5 class="text-warning">Sort</h5>
      <select
        class="custome-select mb-3"
        (change)="onSorted($event.target.value)"
      >
        <option *ngFor="let sort of sortOptions" [value]="sort.value">
          {{ sort.name }}
        </option>
      </select>
      <h5 class="text-warning mt-3">Brands</h5>

      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let brand of brands"
          [class.active]="brand.id === this.params.byBrand"
          [value]="brand.id"
          (click)="onBrand(brand.id)"
        >
          {{ brand.name }}
        </li>
      </ul>
      <h5 class="text-warning mt-3">Types</h5>

      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let type of types"
          [class.active]="type.id === this.params.byType"
          [value]="type.id"
          (click)="onType(type.id)"
        >
          {{ type.name }}
        </li>
      </ul>
    </section>
    <section class="col-9">

        <div class="form-inline mt-2">
                    <input (keyup.enter)="onSearch()" class="form-control mr-2" #search style="width: 300px" placeholder="Search" type="text">
                    <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
                    <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
                </div>

      
      <pagination-controls  class="my-pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
        <div class="row">
          <div class="col-4 mb-4" *ngFor="let item of products
           | paginate: {itemsPerPage: params.pageSize, currentPage: params.pageNumber, totalItems: 18} ">
            <app-product-item-details [product]="item"></app-product-item-details>
          </div>
          <pagination-controls  class="my-pagination"  (pageChange)="onPageChanged($event)"></pagination-controls>
        </div>

    </section>
  </div>
</div>

